body { 
    color: darkblue;
    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    margin: 10px;
    padding: 5px;
    background-color: lightgray;
    border: 5px lightcyan;
    border-style:ridge;
    text-align: center;

  }
main {
    margin: 10px;
    padding: 10px 20px;
    background-color: lightgray;
    border: 5px lightcyan;
    border-style: ridge;
    text-align: center;
  }
  nav {
    margin: 10px;
    padding: 10px;
    background-color: lightgray;
    border: 5px lightcyan;
    border-style: ridge;
    text-align: center;
  }
  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightskyblue;

  }
  
  .nav li {
    float:left;

  }
  
  .nav li a {
    display: block;
    border: 0.5px solid lightcyan;
    color: darkblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
  }
  
  .nav li a:hover {
    background-color: white;

  }
  
  p, h3, li {
      text-align: left;
  }
.blackandblue-border {
    background-color: lightskyblue;

}
.black-border {
    border: 5px lightskyblue;
    border-style:ridge;
    display: inline-block;
}
#cyan-background {
    margin: 10px;
    background-color: lightcyan;
    font-size: 12px;
    text-align: center;
}
@media (min-width: 1024px) {
  body{
    background-color: skyblue;
    color: darkgreen;
    font-size: 14px;
    line-height: 1.6em;
  }

}